#middle {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

p {
    background: #dfe1e7;
    width: 100px;
    height: 150px; 
    font: Tahoma;
    font-size: 40px;
    font-weight: normal;
    /*letter-spacing: 10px;*/

    border-left: 10px #D0D0FF dotted; 
    /*FIXME*/
    margin: 2px auto; 
}

p:hover {
    cursor:pointer;
    background-color: yellow;
    color: goldenrod;
}
.A , .B, .C,.D, .E{
    display: flex;
    flex-direction: row;
    position:relative;
    top: 10px;
    left:10px;
    text-align: left;
    text-indent: 10px;
    float:left;
    line-height:50px;
    margin:10px;
}
.F {
    /*background: #687291;
    border: 4px black solid;*/
    position:absolute;
    bottom:0;
    right:0;
    justify-content: bottom;
    text-align: left;
    line-height:50px;
}

body {
 font-family: Tahoma, Arial, sans-serif;
 margin: 8px;
}
